<h4>Formularios
  <small>data</small>
</h4>
<hr>
<form [formGroup]="forma" (ngSubmit)="guardarCambios()">
  <div formGroupName="nombreCompleto">
    <div class="form-group row" [ngClass]="{'is-invalid':!forma.get('nombreCompleto.nombre').valid}">

      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">
        <input class="form-control" type="text" placeholder="Nombre" name="nombre" formControlName="nombre">

      </div>
      <div *ngIf="forma.get('nombreCompleto.nombre').errors?.required">

        El campo es requerido
      </div>
      <div *ngIf="forma.get('nombreCompleto.nombre').errors?.minlength">
        Por lo menos 3 caracteres
      </div>


    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">
        <input class="form-control" type="text" placeholder="Apellido" name="apellidos" formControlName="apellido">
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-md-8">
      <input class="form-control" type="email" placeholder="Correo electrónico" name="email" formControlName="correo">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Pasatiempos</label>
    <div class="col-md-8" formArrayName="pasatiempos">
      <input class="form-control" type="text" *ngFor="let pasatiempo of forma.controls['pasatiempos'].controls;let i=index" [formControlName]="i">
    </div>
    <button type="button" class="btn btn-primary" (click)=agregarPasatiempo()>Nuevo</button>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Usuario</label>
    <div class="col-md-8">
      <input class="form-control" maxlength="12" type="text" name="username" formControlName="username">
    </div>
  </div>


  <div class="form-group row">
    <label class="col-2 col-form-label">Contraseña</label>
    <div class="col-md-8">
      <input class="form-control" type="password" name="password1" formControlName="password1">
    </div>
  </div>


  <div class="form-group row">
    <label class="col-2 col-form-label">Repetir contraseña</label>
    <div class="col-md-8">
      <input class="form-control" type="password" name="password2" formControlName="password2">
    </div>
  </div>



  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button type="submit" class="btn btn-outline-primary">
        Guardar
      </button>

      {{forma.valid}}
      <br>
      {{forma.status}}
    </div>
  </div>
</form>
